@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Biocycle Rentals</h1>
    <p>Biocycle in our offer: <a asp-page="/MorocyclePages/Motorlist"> Click to start amazing journey </a>.</p>
    <img src="https://www.motocykle-krakow.pl/11216-982006253-large/Bobber_INTL_ABS_Alumina_Jade_Smoke_Front_3Q.jpg" alt="Motorcycle" class="img-fluid mt-3" />
    <p>Biocycle in our offer: <a asp-page="/UserAdmiistrationPages/Userlist"> Our Clients ONLY FOR ADMIN</a>.</p>

</div>
